body{
    background-image: url("bg.jpg");
    background-size:cover;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}
h1{
    color: red;
    text-align: center;
    border: 3px solid crimson;
}
.formh1{
    color: darkslategrey;
    font-family: 'comic sans MS';
    border: none;
    font-size: 3rem;
    margin: 0;
}
.nav{
    font-size:x-large;
    background-color: rgba(255, 255, 255, 0.726);
    text-align: right;
    padding: 8px;
    border-radius: 5px;
}


.nav a{
    color:rgb(73, 74, 74);
    font-size:x-large;
    text-decoration: none;
    padding: 5px;
    line-height: 30px;
}
.container{
    display: grid;  
    grid-gap: 20px;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10px;
    background: #222222bd;
    padding-top: 10px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10px;
}  
.container2{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    background: rgba(255, 255, 255, 0.726);
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: 30px;
    font-family: Arial, sans-serif;
}  
table{
    font-size: 17px;
    line-height: 40px;
    margin-right: 1%;
    font-style: light;
}
input[type = "text"], input[type = "password"], input[type="Date"],
input[type = "email"],input[type = "number"]{
    width: 120%;
    height: 25px;
}
input[type="radio"],input[type="checkbox"]{
    transform: scale(1.2);
}
input[type ="submit"]{
    margin-top:5%;
    margin-right: 4%;
    padding: 1.5%;
    font-size: 20px;
    font-style: bold;
    border-radius: 5px;
    background: #4CAF50;
	color: #fff;
	border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:  #3e8e41;
}
input[type ="reset"]{
    margin-top:5%;
    margin-right: 4%;
    padding: 1.5%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 20px;
    font-style: bold;
    border-radius: 5px;
    background: #4ca5afd3;
	color: #fff;
	border: none;
    cursor: pointer;
}
input[type="reset"]:hover {
    background: #4ca5af;
}
input[type ="button"]{
    margin-top:5%;
    margin-right: 4%;
    padding: 1.5%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 20px;
    font-style: bold;
    border-radius: 5px;
    background: #dd3e3ebe;
	color: #fff;
	border: none;
    cursor: pointer;
}
input[type="button"]:hover {
    background: #c63333;
}
.characters{
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(4,1fr) ;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s linear;
    padding-top: 10px;
}
.info{
    border: 2px solid #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.726);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}
figcaption{
    border: 1px solid white;
    border-radius: 50px;
    color: #fff;
    font-style: italic;
    padding: 2px;
    text-align: center;
    margin: 10px 40px;
}
figcaption:hover{
    color:black;
    background: white;
}
img{
    border-radius: 50%;
}
.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer{
    background-color: antiquewhite;
    text-align: center;
}
